.pinCheck {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
  }

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
}

.circle-lock{
    background-color: red;
}

.circle-unLock{
    background-color: green;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}